* {
    
    justify-content: center;
    margin: 0;
    padding: 0;
}

#body {
    background-color: rgba(0, 0, 0, 0.6);
    width: 500px;
    height: 100%;
    position: relative;
    padding: 0;
}

#titulo {
    margin-top: 2%;
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
    
}

#subtitulo {
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
    
}

#check2 {
    margin-left: 5em;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

#dsen {
    margin-left: 12.5em;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

#check {
    margin-left: 2em;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

fieldset {
    border: 0;
}

body {
    background-image: url(gif.gif);
    background-size: cover;
    font-family: sans-serif;
    font-size: 1em;
    color: #ffffff;
    display: flex;
    margin-bottom: 0;
    justify-content: center;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
}

.grupo::before, .grupo::after {
    display: table;
}

.grupo::after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #ffffff;
    display: block;
    text-align: center;
}

fieldset.grupo .campo {
    float: left;
    margin-left: 3em;
}

fieldset.email {
    float: left;
    margin-left: 7em;
    text-align: center;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 2px solid #3ab0e7;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

textarea {
    margin-left: 2.4em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e0e0f8;
}

.botao {
    font-size: 1.2em;
    background: #3ab0e7;
    border: 0;
    margin-top: 0.5em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: #90cddf;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: none;
}

.botao, select {
    cursor: pointer;
}